body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;

}
element.style {
  background-color: none;
}

.tic_table {
  margin-right: auto;
  margin-left: auto;
  margin-top: 300px;
  text-align: center; 
  border-collapse: collapse;
/*border: 0;*/
}


.tic_table td {

  height: 60px;
  width: 50px;

}

.tic_table tr#row_2, tr#row_1 {

  border-bottom: 5px solid black;
}

.tic_table td.first, td.second {
  border-right: 5px solid black;

}

.game_board {
  height: 600px;
  line-height: 600px;
  display: none;
}

.player_1 {
  background-color: black;
  height: 30px;
  width: 25px;
  border: 1px solid green;
  padding: 10px solid black;

}


.player_2 {
  background-color: yellow;
  height: 30px;
  width: 25px;
  border: 1px solid white;
}

.squares {
   text-align:center;
}

.nav {
  background-color: #34696f;
  margin: 0;
  line-height: 250%;
  color: white;
  font-size: 22px; 
  text-align: center;
}
button {
    display: block;
    height: 100px;
    width: 300px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    font-size: 18px;
    color: white;
}




